<!-- MODAL -->
<div class="modal fade" id="transModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button ng-click="dsh.clearCurrentTrans()" type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="modal-title" id="myModalLabel">Transaction Detail</h3>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-warning" ng-click="dsh.edit(dsh.currentTrans.id)"><img class="icon" src="images/icons/edit.png" /></button>
                    </div>
                </div>
                <hr class="m-y-2">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Transaction ID: {{dsh.currentTrans.id}}</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>Order Total: {{dsh.currentTrans.totalPrice | currency}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>{{dsh.currentTrans.date | date:'MM/dd/yyyy @ h:mma'}}</h4>
                    </div>
                    <div class="cold-md-6">
                        <h4>Note: <span ng-hide="dsh.editMode">{{dsh.editTrans.note}}</span><input ng-show="dsh.editMode" ng-model="dsh.editTrans.note"></input></h4>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <span ng-repeat="product in dsh.currentTrans.subTransactions">
                    <div class="row">
                        <div class="col-md-4">
                            <div>{{product.name}}</div>
                        </div>
                        <div class="col-md-4">
                            <div>Product ID: <span ng-hide="dsh.editMode">{{product.productId}}</span><input ng-show="dsh.editMode" ng-model="product.productId"></input></div>
                        </div>
                        <div class="col-md-4">
                            <div>Quantity: <span ng-hide="dsh.editMode">{{product.amt}}</span><input ng-show="dsh.editMode" ng-model="product.amt"></input></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img ng-src={{product.imgThumbnail}}>
                        </div>
                        <div class="col-md-4">
                            <div></div>
                        </div>
                        <div class="col-md-4">
                            <div></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div></div>
                        </div>
                        <div class="col-md-6">
                            <h4>Total Price: ${{product.totalPrice}}</h4>
                        </div>
                    </div>
                </span>
                <hr class="m-y-2">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" ng-click="dsh.clearCurrentTrans()" data-dismiss="modal"><img class="icon" src="images/icons/cancel.png" /></button>
                <button type="button" class="btn btn-warning" ng-click="dsh.saveEdit(dsh.editTrans)" data-dismiss="modal"><img class="icon" src="images/icons/save.png" /></button>
            </div>
        </div>
    </div>
</div>

<!-- VIEW -->
<h1>Dashboard</h1>
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a ng-click="dsh.selectTab(1)" role="tab" data-toggle="tab"><h3>Transaction Summary</h3></a></li>
    <li role="presentation" class="acitve"><a ng-click="dsh.selectTab(2)" role="tab" data-toggle="tab"><h3>Product Summary</h3></a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="transSumm" ng-hide="dsh.isSelected === 2">
        <table class="table table-hover">
            <tr>
                <th>Transaction Type</th>
                <th>Sale</th>
                <th>Lost/Stolen</th>
                <th>Returned to Supplier</th>
                <th>Inventory Purchase</th>
                <th>Returned</th>
                <th>Returned Defective</th>
                <th>Totals</th>
            </tr>
            <tr ng-repeat="prod in dsh.transSummArray">
                <td>{{}}</td>
                <td>{{}}</td>
                <td>{{}}</td>
                <td>{{}}</td>
                <td>{{}}</td>
                <td>{{}}</td>
                <td>{{}}</td>
                <td>{{}}</td>
            </tr>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane active" id="prodSumm" ng-show="dsh.isSelected === 2">
        <table class="table table-hover">
            <tr>
                <th>SKU</th>
                <th>Name</th>
                <th>Total Orders</th>
                <th>Units Ordered</th>
                <th>Total Sales</th>
                <th>Units Returned</th>
                <th>Total Costs</th>
                <th>Total Stolen</th>
                <th>Units Stolen</th>
            </tr>
            <tr ng-repeat="prod in dsh.prodSummArray">
                <td>{{prod.id}}</td>
                <td>{{prod.name}}</td>
                <td>{{prod.timesOrdered}}</td>
                <td>{{prod.unitsOrdered}}</td>
                <td>{{prod.totalSales | currency}}</td>
                <td>{{prod.unitsReturned}}</td>
                <td>{{prod.totalCosts | currency}}</td>
                <td>{{prod.totalStolen}}</td>
                <td>{{prod.unitsStolen}}</td>
            </tr>
        </table>
    </div>
  </div>

</div>



<!-- <h3>Transaction Summary</h3> -->
<!-- <table class="table table-hover">
    <tr>
        <th>Transaction Type</th>
        <th>Sale</th>
        <th>Lost/Stolen</th>
        <th>Returned to Supplier</th>
        <th>Inventory Purchase</th>
        <th>Returned</th>
        <th>Returned Defective</th>
        <th>Totals</th>
    </tr>
    <tr ng-repeat="prod in dsh.prodSumm">
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
    </tr>
</table> -->
<h3>All Transactions</h3>
<table class="table table-hover">
    <tr>
        <th>Transaction ID</th>
        <th>Transaction Type</th>
        <th>Date</th>
        <th>Notes</th>
        <th>Amount</th>
        <th>Price</th>
        <th>Cost</th>
        <th>Manage</th>
    </tr>
    <tr ng-repeat="trans in dsh.transArray">
        <td>{{trans.id}}</td>
        <td>{{trans.type.description}}</td>
        <td>{{trans.date | date:'MM/dd/yyyy @ h:mma'}}</td>
        <td>{{trans.note}}</td>
        <td>{{trans.totalAmt}}</td>
        <td>{{trans.totalPrice | currency}}</td>
        <td>{{trans.totalCost | currency}}</td>
        <td>
            <button ng-click="dsh.showModal(trans)" type="button" class="btn btn-warning" data-toggle="modal" data-target="#transModal"><img class="icon" src="images/icons/info.png" /></button>
        </td>
    </tr>
</table>
