<!-- MODAL -->
<div class="modal fade" id="transModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button ng-click="dsh.clearCurrentTrans()" type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="modal-title" id="myModalLabel">Transaction Detail</h3>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-warning" ng-click="dsh.edit(dsh.currentTrans.id)"><img class="icon" src="images/icons/edit.png" /></button>
                    </div>
                </div>
                <hr class="m-y-2">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Transaction ID: {{dsh.currentTrans.id}}</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>Order Total: {{dsh.currentTrans.totalPrice | currency}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>{{dsh.currentTrans.date | date:'MM/dd/yyyy @ h:mma'}}</h4>
                    </div>
                    <div class="cold-md-6">
                        <h4>Note: <span ng-hide="dsh.editMode">{{dsh.editTrans.notes}}</span><input ng-show="dsh.editMode" ng-model="dsh.editTrans.notes"></input></h4>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <span ng-repeat="product in dsh.currentTrans.subTransactions">
                    <div class="row">
                        <div class="col-md-4">
                            <div>{{product.name}}</div>
                        </div>
                        <div class="col-md-4">
                            <div>Product ID: <span ng-hide="dsh.editMode">{{product.productId}}</span><input ng-show="dsh.editMode" ng-model="product.productId"></input></div>
                        </div>
                        <div class="col-md-4">
                            <div>Quantity: <span ng-hide="dsh.editMode">{{product.amt}}</span><input ng-show="dsh.editMode" ng-model="product.amt"></input></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img ng-src={{product.imgThumbnail}}>
                        </div>
                        <div class="col-md-4">
                            <div></div>
                        </div>
                        <div class="col-md-4">
                            <div></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div></div>
                        </div>
                        <div class="col-md-6">
                            <h4>Total Price: ${{product.totalPrice}}</h4>
                        </div>
                    </div>
                </span>
                <hr class="m-y-2">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" ng-click="dsh.clearCurrentTrans()" data-dismiss="modal"><img class="icon" src="images/icons/trash.png" /></button>
                <button type="button" class="btn btn-warning" ng-click="dsh.saveEdit(dsh.editTrans)" data-dismiss="modal"><img class="icon" src="images/icons/save.png" /></button>
            </div>
        </div>
    </div>
</div>

<!-- VIEW -->
<h2>Transaction Summary</h2>
<table class="table table-hover">
    <tr>
        <th>Transaction Type</th>
        <th>Sale</th>
        <th>Lost/Stolen</th>
        <th>Returned to Supplier</th>
        <th>Inventory Purchase</th>
        <th>Returned</th>
        <th>Returned Defective</th>
        <th>Totals</th>
    </tr>
    <tr ng-repeat="prod in dsh.prodSumm">
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
    </tr>
</table>
<h2>All Transactions</h2>
<table class="table table-hover">
    <tr>
        <th>Transaction ID</th>
        <th>Transaction Type</th>
        <th>Date</th>
        <th>Notes</th>
        <th>Amount</th>
        <th>Price</th>
        <th>Cost</th>
        <th>Manage</th>
    </tr>
    <tr ng-repeat="trans in dsh.transArray">
        <td>{{trans.id}}</td>
        <td>{{trans.type.description}}</td>
        <td>{{trans.date | date:'MM/dd/yyyy @ h:mma'}}</td>
        <td>{{trans.note}}</td>
        <td>{{trans.totalAmt}}</td>
        <td>{{trans.totalPrice | currency}}</td>
        <td>{{trans.totalCost | currency}}</td>
        <td>
            <button ng-click="dsh.showModal(trans)" type="button" class="btn btn-warning" data-toggle="modal" data-target="#transModal">Details</button>
        </td>
    </tr>
</table>
