<div class="jumbotron text-center">
    <h1 class="display-3">Welcome to Duzett Tech</h1>
    <p class="lead">The one stop shop for all your home desktop needs.</p>
    <hr class="m-y-2">
    <p class="lead">
        <a ui-sref="product-home">
            <button type="button" class="btn btn-warning btn-lg">Shop</button>
        </a>
    </p>
</div>

<div>
    <div>
        <img class="img-home" src="images/apple-desk-technology-computer.jpg" class="img-responsive inline-block" alt="Responsive image" />
    </div>
    <div>
        <img class="img-home" src="images/pexels-photo (1).jpg" class="img-responsive inline-block" alt="Responsive image" />
    </div>
    <div>
        <img class="img-home" src="images/woman-hand-smartphone-desk.jpg" class="img-responsive inline-block" alt="Responsive image" />
    </div>
    <div>
        <img class="img-home" src="images/hands-coffee-cup-apple.jpg" class="img-responsive inline-block" alt="Responsive image" />
    </div>
    <div>
        <img class="img-home" src="images/apple-iphone-desk-office.jpg" class="img-responsive inline-block" alt="Responsive image" />
    </div>
    <div>
        <img class="img-home" src="images/pexels-photo.jpg" class="img-responsive inline-block" alt="Responsive image" />
    </div>
</div>
