<h1>Order History</h1>

<!-- MODAL -->
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button ng-click="ordhist.clearCurrentTrans()" type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Order Detail</h3>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Transaction ID: {{ordhist.currentTrans.id}}</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>Order Total: {{ordhist.currentTrans.totalPrice | currency}}</h4>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <span ng-repeat="product in ordhist.currentTrans.subTransactions">
                    <div class="row">
                        <div class="col-md-4">
                            <div>{{product.name}}</div>
                        </div>
                        <div class="col-md-4">
                            <div ng-model="ordhist.currentTransProduct">Product ID: {{product.productId}}</div>
                        </div>
                        <div class="col-md-4">
                            <div>Quantity: {{product.amt}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img ng-src={{product.imgThumbnail}}>
                        </div>
                        <div class="col-md-4">
                            <div></div>
                        </div>
                        <div class="col-md-4">
                            <h4>Total Price: ${{product.totalPrice}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div></div>
                        </div>
                        <div class="col-md-4">
                            <div></div>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-warning" ng-click="ordhist.isReturn(product.productId)" ng-show="!product.isReturn">Return</button>
                            <button class="btn btn-warning" ng-click="ordhist.cancelReturn(product.productId)" ng-show="product.isReturn">Cancel Return</button>
                        </div>
                    </div>
                    <br />
                    <div class="row" ng-show="product.isReturn">
                        <div class="col-md-4">
                            <select class="form-control" id="sel1" ng-model="ordhist.editTrans.type" ng-options="returnType as returnType.description for returnType in ordhist.returnOptions" required>
                                <option value="" selected disabled>Select Transaction</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            Note: <input ng-model="ordhist.editTrans.notes" />
                        </div>
                        <div class="col-md-4">
                            Qty: <input ng-model="ordhist.returnQty" />
                        </div>
                    </div>
                </span>
                <hr class="m-y-2">
            </div>
            <div class="modal-footer">
                <!-- <div>
                    <h4>Total: - {{ordhist.currentTrans.totalPrice | currency}}</h4>
                </div> -->
                <button type="button" class="btn btn-warning" ng-click="ordhist.clearCurrentTrans()" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-warning" ng-click="ordhist.makeReturn(ordhist.editTrans)" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- VIEW -->
<table class="table table-hover">
    <tr>
        <th>Transaction ID</th>
        <th>Transaction Type</th>
        <th>Date</th>
        <th>Notes</th>
        <th>Amount</th>
        <th>Price</th>
        <th>Manage</th>
    </tr>
    <tr ng-repeat="order in ordhist.orderArray">
        <td>{{order.id}}</td>
        <td>{{order.type.description}}</td>
        <td>{{order.date | date:'MM/dd/yyyy @ h:mma'}}</td>
        <td>{{order.note}}</td>
        <td>{{order.totalAmt}}</td>
        <td>{{order.totalPrice | currency}}</td>
        <td>
            <button ng-click="ordhist.showModal(order)" type="button" class="btn btn-warning" ng-show="order.type.description === ordhist.isSale" data-toggle="modal" data-target="#orderModal">Details</button>
        </td>
    </tr>
</table>
