.well {
    display: inline-block !important;
    margin: 10px;
}

.card-thumbnail {
    width: 200px;
    height: 150px;
}

.img-home {
  width: 33.3%;
  float: left;
  list-style-type: none;
  border: 0 none;
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


.table-cell {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.icon {
    max-width: 20px;
    max-height: 20px;
}
